.dody{
    font-size: 0;
}

.beats {
    height: 70px;
    width: 273px;
    margin: auto;

    display: -webkit-flex;
    display: flex;

    -webkit-align-items: center;
    align-items: center;

    border: 1px #565656 solid;
    font-size: 0;
}

.beat {
    height: 36px;
    width: 36px;

    margin-left: auto;
    margin-right: auto;

    border: 0 #565656 solid;
    font-size: 0;
}

.beat-type-top {
    height: 12px;
    width: 36px;

    margin: 0;
    padding: 0;

    border: 1px #565656 solid;

    font-size: 0;
    vertical-align: baseline;
}

.beat-type-middle {
    height: 12px;
    width: 36px;

    margin: 0;
    padding: 0;

    border-left: 1px #565656 solid;
    border-right: 1px #565656 solid;

    font-size: 0;
    vertical-align: baseline;
}

.beat-type-bottom {
    height: 12px;
    width: 36px;

    margin: 0;
    padding: 0;

    border: 1px #565656 solid;

    font-size: 0;
    vertical-align: baseline;
}